
@media (max-width: 640px) {


    .navbar-brand {
        margin-right: 0;
    }

    .nav-searching .searching-box{
        background-position: center;
    }

    .navbar-right button{
        float: none;
    }

    .navbar-right .dropdown{
        margin-bottom: 10px;
    }

    .navbar-right .dropdown-form{
        margin: 0 auto;
        position: relative;
    }

    .home-page-box h1{
        font-size: 46px !important;
        padding-top: 100px;
    }

    .home-description{
        padding: 30px 20px 90px;
    }

    .carousel-home{
        padding-bottom: 100px;
    }

    .home-button{
        text-align: center !important;
        margin-top: 15px;
    }

    .action-left-text {
        padding-bottom: 30px;
    }

    .action-right-text{
        padding-bottom: 30px;
    }

    .how-it-works{
        padding-bottom: 50px;
    }

    .app-img-temlate{
        height: 735px;
    }

    .grid-item{
        width: 100%;
    }

    .developers h1{
        font-size: 46px !important;
    }

    .developers-left-button{
        text-align: center;
    }

    .developers-right-img{
        padding: 0 !important;
        width: 100%;
    }

    #video-parallax{
        margin-left: 0 !important;
        width: auto !important;
    }

    .small-container{
        padding: 0 !important;
    }

    .subscribe h1{
        padding-top: 50px !important;
        font-size: 45px !important;
    }

    .video-box {
        height: 600px !important;
    }

    .company{
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 768px) {

    .nav-searching .searching-box {
        background-position: center;
    }

    .home-description{
        padding: 30px 20px 90px;
    }

    #beta-app .tooltip{
        display: none !important;
    }

    .how-it-works{
        padding-bottom: 50px;
    }

    #video-parallax{
        width: auto;
    }

    .company{
        width: 33%;
    }

    .grid-item{
        width: 100%;
    }

    .app-img-temlate{
        height: 840px;
    }

    .subscribe h1{
        font-size: 42px !important;
    }

    .small-container{
        padding: 0 50px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .how-it-works h2{
        font-size: 28px;
    }

    #video-parallax{
        width: auto;
    }

    .how-it-works{
        padding-bottom: 50px;
    }

    .home-description {
        padding: 30px 10px 90px;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .action-left-text{
        min-height: 250px;
        min-height: 25vh;
    }

    .action-right-text{
        min-height: 250px;
        min-height: 25vh;
    }

    .how-it-works{
        min-height: 850px;/*Safari*/
        min-height: 90vh;
    }

    .how-it-works .circle-box{
        margin-top: 50px;
    }

    .subscribe{
        height: 950px;
        min-height: 110vh;
    }


}

