
.logo-img{
    float: left;
    width: 30px;
}

.navbar{
    padding: 15px;
    background-color: white;
    z-index: 1080;
}

.navbar-right{
    text-align: center;
}

.nav{
    padding: 5px 0;
}

.navbar a{
    color: #20232a;
    text-align: center;
}

.navbar-collapse{
    max-height: 450px !important;
}

.navbar-nav>li>a {
    padding: 5px 15px;
    font-weight: bold;
    line-height: 30px;
    min-width: 40px;
}

.navbar-nav button{
    margin: 0 15px;
}

.login-button{
    margin: 0 !important;
}

.navbar-brand {
    padding: 10px 15px;
    margin-right: 70px;
}

.nav>li>a:hover,.nav>li>a:focus{
    background-color: white;
}

.nav>li:hover,.nav>li:focus,.nav>li:active {
    border-bottom: 2px solid #47d2c2;
}

.navbar-toggle .icon-bar {
    background-color: #20232a;
}

.navbar-brand div{
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}


.dropdown-form{
    padding: 20px 20px 0 20px;
    width: 280px;
}

.forgot-pass{
    line-height: 40px;
    cursor: pointer;
}

.dropdown-menu{
    padding: 0;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: white;
}

.navbar-right .dropdown-menu{
    top: 60px;
    right: -90px;
}

.navbar-right button{
    float: left;
}

.nav>li{
    border-bottom: 2px solid white;
}

.nav-searching{
    height: 42px;
}

.nav-searching:hover{
    border-bottom: none !important;
    height: 40px;
}

.searching-placeholder{
    display: none;
    outline: none;
    border: none;
    margin-left: 40px;
    float: left;
}

.nav-searching .searching-box{
    background: url('../images/search_icon.png') no-repeat;
    width: 100%;
    height: 20px;
    margin: 5px 0;
    overflow: hidden;
}

.nav-searching:hover .searching-box{
    background: url('../images/search_icon_green.png') no-repeat;
    position: absolute;
    margin: 5px 0;
    z-index: 10;
    width: 20px;
    height: 30px;
    top: 0;
    background-position-y: 5px;
}

.nav-searching:hover .searching-placeholder{
    display: block;
    height: 30px;
}

.nav-searching:hover + .dropdown{
    visibility: hidden;
}

.nav-searching:hover ~ #create-account{
    visibility: hidden;
}

.nav-searching a {
    padding-left: 0 !important;
}

.searching-close{
    display: none;
    float: left;
    padding-top: 10px;
    padding-left: 25px;
}

.nav-searching:hover .searching-close{
    display: block;
}