@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
    url("../fonts/Lato-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
    url("../fonts/Lato-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: Lato;
    background-color: #fafafa;
}

.green-gradient{
    background-color: #47d2c2;
    background-image: -webkit-linear-gradient(bottom, #47c0d2, #47d2c2 70%);
    background-image: -moz-linear-gradient(bottom, #47c0d2, #47d2c2 70%);
    background-image: -o-linear-gradient(bottom, #47c0d2, #47d2c2 70%);
    background-image: -ms-linear-gradient(bottom, #47c0d2, #47d2c2 70%);
    background-image: linear-gradient(to top, #47c0d2, #47d2c2 70%);
}

.green-gradient:hover{
    background-color: #47c0d2;
    background-image: none;
}

.green-gradient:active{
    background-color: #47d2c2;
    background-image: none;
}

.purple-gradient{
    background-color: #7974bd;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(bottom, #6761b9, #7974bd);
    background-image: -moz-linear-gradient(bottom, #6761b9, #7974bd);
    background-image: -o-linear-gradient(bottom, #6761b9, #7974bd);
    background-image: -ms-linear-gradient(bottom, #6761b9, #7974bd);
    background-image: linear-gradient(to top, #6761b9, #7974bd);
}

.purple-gradient:active {
    background-image: none;
    background-color: #7974bd;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.purple-gradient:hover{
    background-image: none;
    background-color: #6761b9;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);

}

.green-text{
    color: #47d2c2;
}

.grey-text{
    color: #999999 !important;
}

.dark-background{
    background-color: #20232a;
}

.green-background{
    background-color: #47d2c2;
    color: white;
}

form .tooltip.top{
    left: 20px !important;
    font-weight: bold;
}

.tooltip.top .tooltip-inner{
    background-color: #de265f;
}

 .tooltip.top .tooltip-arrow{
    border-top-color: #de265f;
    left: 20px !important;
}

#beta-app .tooltip-arrow{
    left: 20% !important;
    border-top-color: black;
}

#beta-app .tooltip.top{
    margin-left: 25px !important;
}


#beta-app .tooltip.top .tooltip-inner{
    background-color: black;
}

ul{
    padding: 0;
}

button {
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
    border: none!important;
    outline: none!important;
    padding: 10px 30px !important;
    color: white;
    min-width: 90px;
}

button:hover{
    color: white !important;
}

h1 {
    font-size: 55px !important;
    padding-top: 90px;
}

.carousel-home{
    min-height: 900px;/*Safari*/
    min-height: 100vh;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    background: #fafafa;
    background: -webkit-linear-gradient(#fafafa, #f1f1f1);
    background: -o-linear-gradient(#fafafa, #f1f1f1);
    background: -moz-linear-gradient(#fafafa, #f1f1f1);
    background: linear-gradient(#fafafa, #f1f1f1);
}

.home-page-box .carousel-inner{
    padding-top: 80px;
    min-height: 750px; /*Safari*/
    min-height: 80vh;
    overflow: inherit !important;
}

.home-page-box .carousel-indicators li{
    border-color: black;
}

.home-page-box h1{
    padding-top: 200px;
}

.home-button{
    height: 50px;
}

.home-left-img{
    float: left;
    position: absolute;
    padding-top: 150px;
    padding-left: 90px;
}

.home-right-img{
    right: 90px;
    position: absolute;
    padding-top: 150px;
}

.home-description{
    padding: 30px 180px 90px;
}

.middle-element{
    z-index: 100;
}

.home-left-button{
    padding: 10px 30px !important;
    font-size: 20px;
}

.home-right-button{
    padding: 10px 30px !important;
    font-size: 18px;
    background-color: inherit;
}

.home-right-button:hover {
    color: black !important;
}

.call-to-action{
    width: 100%;
    min-height: 200px;/*Safari*/
    min-height: 20vh;
}

.action-left-text{
    text-align: right;
    padding-right: 45px;
    min-height: 200px;/*Safari*/
    min-height: 20vh;
    color: white;
    padding-top: 40px;
}

.action-informed{
    font-size: 30px;
}

.small-button{
    min-width: 0;
    padding: 10px 15px !important;
}

.action-right-text{
    min-height: 200px;/*Safari*/
    min-height: 20vh;
    padding-top: 50px;
}

.action-right-text input{
    height: 40px;
}
.form-button{
    padding-top: 25px;
}

.how-it-works{
    min-height: 650px;/*Safari*/
    min-height: 72vh;
    width: 100%;
    background-color: #eeeeee;
}

.circle-box{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    line-height: 100px;
}

.how-it-works .circle-box{
    margin-top: 150px;
}

.how-it-works p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.short-separator{
    background-color: #999999;
    width: 80px;
    height: 3px;
    margin: 0 auto;
    margin-top: 18px;
}

.made-app .navbar-nav{
    text-align: center;
    float: none;
    display: inline-block;
    padding-top: 20px;
}

.made-app .navbar-nav a{
    color: #999999;
}

.made-app .navbar-nav>li{
    border-bottom: 2px solid #fafafa;
}

.made-app .navbar-nav a:hover{
    color: black;
    background-color: inherit;
}

.made-app .grid{
    margin-bottom: 85px;
}

.app-small-box{
    height: 230px;
    overflow: hidden;
}

.app-normal-box{
    height: 360px;
    overflow: hidden;
}

.app-img-temlate{
    height: 540px;
    margin-left: -130px;
    margin-top: -160px;
}

.grid-item{
    padding: 15px
}

.app-hover-box{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    color: white;
    cursor: pointer;
    background-color: rgba(103, 97, 185, 0.7);
}

.app-hover-box img{
    padding-top: 30px;
}

.cube-box img{
    padding-top: 80px !important;
}

.app-hover-box:hover{
    opacity: 1;
}

.app-hover{
    font-size: 20px;
    padding: 15px 5px 0;
}

.cube-box .app-hover{
    padding: 90px 5px 0;
}

.app-hover-light{
    font-family: 'Lato Light';
}

.profile-box{
    width: 100%;
    padding: 30px 0;
}

#carousel-profile{
    height: 700px;
    overflow: hidden;
    color: white;
}

.profile-box .carousel-inner{
    height: 100%;
}

.carousel-bg {
    position: absolute;
    max-width: inherit !important;
    height: 100% !important;
}

.profile-box .carousel-inner .item{
    height:100%;
}

.carousel-arrows{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.carousel-arrows.right{
    left: auto;
    right: 0;
}

.carousel-arrow{
    position: relative;
    top: 50%;
    height: 40px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-img-box{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 100px auto 0;
    position: relative;
}

.profile-img-box img {
    opacity: 1 !important;
    position: relative !important;
    z-index: 10;
}

.profile-name{
    font-size: 20px;
    color: white;
    padding-top: 30px;
}

.profile-jop{
    font-family: 'Lato Light';
    color: white;
}

.profile-description{
    padding-top: 20px;
    font-size: 18px;
    line-height: 28px;

}

.profile-description:before{
    content: "\201C";
    font-family: Georgia, serif;
    /* font-size: 40px; */
    font-weight: bold;
    color: #47d2c2;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    margin-left: 10px;
    left: 0;
}

.profile-description:after{
    content: "\201D";
    font-family: Georgia, serif;
    /* font-size: 40px; */
    font-weight: bold;
    color: #47d2c2;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    bottom: -14px;
    margin-left: 10px;
}

.developers{
    min-height: 850px;/*Safari*/
    min-height: 92vh;
}

.developers .left,.developers .right{
    padding-top: 70px;
}

.developers .right img {
    padding-left: 75px;
}

.developers-right-img{
    width: 100%;
}

.developers-left-title{
    font-size: 20px;
    padding-bottom: 20px;
}
.developers-left-description{
    font-size: 16px;
    padding-bottom: 30px;
}

.big-button{
    font-size: 20px;
}

.progress{
    height:5px;
}

.progress-bar{
    background-color: #47d2c2;
}

.developers-left-button{
    padding-top: 20px;
}

.subscribe{
    min-height: 850px;/*Safari*/
    min-height:92vh;
    width: 100%;
    color: white;
}

.video-box{
    height: 550px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index:-5;
}

#video-parallax{
    width: 140%;
    position: relative;
    opacity: 0.85
}

.subscribe h1 {
    padding-bottom: 15px;
}

.small-container{
    padding: 0 150px;
}

.subscribe form {
    padding-top: 30px;
    padding-bottom: 110px;
}

.subscribe input{
    height:40px;
}

.subscribe .big-button{
    margin-top: 50px;
}

.subscribe .down{
    color: black;
    padding-bottom: 30px;
}

.subscribe h3{
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 75px;
}

.company{
    padding: 0 26px;
    float: left;
    line-height: 65px;
}

footer{
    padding-top: 50px;
    min-height: 360px;/*Safari*/
    min-height:40vh;
    color: white;
}

footer .left, footer .right, footer .middle{
    padding-bottom: 30px;
}

footer .left p {
    font-family: 'Lato Light';
}

footer .title{
    line-height: 28px;
    font-size: 16px;
}

footer .left .title{
    font-family: 'Lato Light';
}

footer .title img{
    padding-right: 10px;
}

footer .middle ul {
    line-height: 36px;
    color: #47d2c2;
}

footer li span {
    color: #999999;
}

footer li span:hover{
    color: white;
}

footer table{
    margin-bottom: 5px;
}

footer table tr{
    height: 25px;
}

footer a {
    color: #999999;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

footer table td{
    min-width: 80px;
}

footer .right span a{
    font-size: 12px;
    color: white;
}

footer .right img{
    padding: 5px 0;
}


